body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: #0A3871;
    background-color: #F3F5FC;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }

.spaced-horizontal-bar{
    display: flex;
    justify-content: flex-start;
    flex-flow: nowrap;
    align-items: center;
}

#about-button-group{
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
}

#about-button{
    border-style: none;
}

header h1{
    font-size: 3em;
    padding: 20px 5%;
}

#star-button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    height: 55px;
}

.encrypter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-style: none;
    padding:5px 5%;
}

.output-field{
    width: 40%;
    background-color: white;
    border-radius: 15px;
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

figure{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

img{
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

figcaption{
    margin-top: 10px;
}

.input-field{
    width: 50%;
}

.invisible-textarea, .standard-textarea{
    display: block;
    width: 100%;
    height: 500px;
    resize: none;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    font-size: 1.3em;
}

.invisible-textarea, .standard-textarea:focus{
    outline: none;
}

.invisible-textarea{
    background: none;
}

.standard-textarea{
    background: white;
    border-radius: 15px;
    display: none;
}

.button-group{
    margin: 0 auto;
    border-style: solid;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.standard-button, .highlighted-button{
    padding: 15px 45px;
    border-radius: 15px;
    border-color:#0A3871;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
}

.standard-button, .highlighted-button:hover{
    cursor: pointer;
}

.standard-button{
    background: transparent;
    color: #0A3871
}

.highlighted-button{
    background: #0A3871;
    color:#D8DFE8;
}

footer{
    width: 100%;
    height:calc(100vh - 85%);
    background-color: #0A3871;
    color: #D8DFE8;
    text-align: center;
    margin-top: 10px;
    padding: 25px 0;
}

.popup-card{
    position: absolute;
    height: 50%;
    width: 30%;
    background-color: #CEDAD4;
    top: 20%;
    left: 35%;
    border-radius: 15px;
    padding: 1em;
    display: none;
    box-shadow: 2px 3px 5px black;
    /*box-shadow: -3px -3px 5px black;*/
}

#about-card{
    text-align: center;
    font-size: 15px;
}

#information-one{
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5em;
}

.card-close-button{
    position: relative;
    left:90%;
    margin-bottom: 10px;
}

a:link{
    color: #D8DFE8;
}

a:visited{
    color: #D8DFE8;
}

